#medical_devices_block {

    width:"70%";

    opacity: 60;

    margin-left:"0.6in";

    font-size:"2em";

    border-width:"10px";

    position: absolute;

}

.first {

    width: 40px;

    color: green;

    text-align: center;

    border-style: outset;

    border-color: #FF0000;

}

.second {

    width: 100px;

    float: right;

    position: absolute;

    border-style: solid;

    border-width: 2px;

    border-color: red;

    text-align: center;

    left: 150px;

    color: black;

    top: 15px;

}

.third {

    width: 50px;

    float: right;

    position: absolute;

    border-style: solid;

    border-width: 2px;

    text-align: center;

    border-color: red;

    color: black;

    left: 150px;

    top: 500px;

}

.fourth {

    width: 50px;

    float: right;

    text-align: center;

    position: absolute;

    left: 150px;

    top: 700px;

    border-style: solid;

    border-width: 2px;

    border-color: red;

    color: black;

}

.fifth {

    width: 50px;

    float: right;

    text-align: center;

    position: absolute;

    color: black;

    left: 150px;

    border-style: solid;

    border-width: 2px;

    border-color: red;

    top: 900px;

}

.horizontal-bar {

    width:0px;

    height:1px;

    background: black;

    position:absolute;

    top:27px;

    left:40px;

}

.horizontal-bar2 {

    width:0px;

    height:1px;

    background: black;

    position:absolute;

    top:500px;

    left:40px;

}

.horizontal-bar3 {

    width:0px;

    height:1px;

    background: black;

    position:absolute;

    top:700px;

    left:40px;

}

.horizontal-bar4 {

    width:0px;

    height:1px;

    background: black;

    position:absolute;

    top:900px;

    left:40px;

}

.vertical-bar-p-and-d {

    width:1px;

    height:1px;

    background: black;

    position:absolute;

    top:22px;

    left:330px;

}

.horizontal-bar-p-and-d {

    width:1px;

    height:1px;

    background: black;

    position:absolute;

    top:22px;
	
    left:282px;

}

.horizontal-bar6 {

    width:0px;

    height:1px;

    background: black;

    position:absolute;

    top:28px;

    left:400px;

}

.horizontal-bar7 {

    width:0px;

    height:1px;

    background: black;

    position:absolute;

    top:391px;

    left:310px;

}

.horizontal-bar8 {

    width:0px;

    height:1px;

    background: black;

    position:absolute;

    top:540px;

    left:300px;

}
.product_definition_process {
	width: 50px;

    float: right;

    position: absolute;

    border-style: solid;

    border-width: 1px;

    text-align: center;

    border-color: red;

    color: black;

    left: 400px;

    top: 50px;
}

.design_process {
	width: 50px;

    float: right;

    position: absolute;

    border-style: solid;

    border-width: 1px;

    text-align: center;

    border-color: red;

    color: black;

    left: 400px;

    top: 110px;
}
